---
---
/* Override theme defaults */
$highlight: #ED9389;

/* Put any custom CSS here */

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #ED9389;
}
